################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DailyDealWeb/v15
/DailyDealWeb/bin/Debug/netcoreapp2.1
/DailyDealWeb/obj
/HeimkaupLib/bin/Debug/netcoreapp2.1
/HeimkaupLib/obj
/DailyDealWeb/bin/Release/netcoreapp2.1
/HeimkaupLib/bin/Release/netcoreapp2.1
